#Особенности сборки
/data/mysql/*
/data/redis/*
/mysql/my.cnf
/logs/*

#Системные файлы
.idea
.env

#Bitrix
/data/bitrix/bitrix/*
/data/bitrix/upload/*
!/data/bitrix/.settings.php
!/data/bitrix/bitrix/templates
!/data/bitrix/bitrix/components
/data/bitrix/bitrix/components/bitrix/