#Особенности сборки
/mysql/my.cnf
/logs/*

#Системные файлы
.idea
.env

#Bitrix
/data/*
!/data/bitrix/.settings.php
!/data/bitrix/bitrix/templates
!/data/bitrix/bitrix/components
/data/bitrix/bitrix/components/bitrix/
