#Особенности сборки
/mysql/my.cnf
/logs/*

#Системные файлы
.idea
.env

#Bitrix
/data/*
!/data/bitrix/bitrix/templates
!/data/bitrix/bitrix/components
/data/bitrix/bitrix/components/bitrix/

#Домашка
!/data/bitrix/debag.php
!/data/bitrix/sql-log.php

!/data/bitrix/.settings.php
!/data/bitrix/local